@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom spinner */
.loader {
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
